<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >

<head>

    <meta charset="UTF-8"/>

    <title>Title</title>

</head>

<body style="background-color:yellow">
<ul>

    <li th:each="generator : ${numbers}" th:text="${generator}"/>
    <img src="http://www.lotto.pl/sites/all/themes/basic/images/logofacebook.png"/>

<p>fdsfdsfsdfsd</p>
</ul>
</body>
</html>